<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title th:text="${book.name}" />
</head>

<body>
	<form th:method="GET" th:action="@{/}">
		<input type="submit" value="Главная страница">
	</form>
	<hr>
	<div th:text="${book}" />
	<form th:method="PATCH" th:action="@{/books}" th:object="${book}">
		<input type="hidden" th:field="*{id}">
		<input type="hidden" th:field="*{author.id}">
		<input type="hidden" th:field="*{author.name}">
		<input type="hidden" th:field="*{name}">
		<input type="hidden" th:field="*{year}">
		<div th:if="${person.name==null}">
			<div>Эта книга свободна. Кому назначить ее?</div>
			<label for="person">Выберите читателя</label>
			<select th:field="*{person.id}" id="person">
				<option th:each="person : ${people}"
				 th:value="${person.id}"  th:text="${person.name}"/>
			</select>
			<input type="submit" value="Назначить книгу">
		</div>
		<div th:if="${person.name!=null}">
			<div th:text="'Книга сейчас у: '+${person.name}"/>
			<input type="submit" value="Освободить книгу"> 
		</div>
	</form>
	<hr>
	<form th:method="GET" th:object="${book}" th:action="@{/books/}+${book.id}+'/edit'">
		<input type="submit" value="Редактировать">
	</form>
	<form th:method="DELETE" th:action="@{/books/{id} (id=${book.id})}">
		<input type="submit" value="Удалить">
	</form>
</body>

</html>