<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Изменение книги</title>
</head>

<body>
	<form th:method="GET" th:action="@{/}">
		<input type="submit" value="Главная страница">
	</form>
	<hr>
	<form th:method="PATCH" th:action="@{/books/}" th:object="${book}">
		<input type="hidden" th:field="*{id}">
		<label for="name">Введите название книги:</label>
		<input type="text" th:field="*{name}" id="name"><br>
		<div style="color: red;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
		<label for="author">Введите автора:</label>
		<input type="text" th:field="*{author.name}" id="author"><br>
		<div style="color: red;" th:if="${#fields.hasErrors('author.name')}" th:errors="*{author.name}">Author Error</div>
		<label for="year">Введите год:</label>
		<input type="number" th:field="*{year}" id="year"><br>
		<div style="color: red;" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</div>
		<input type="submit" value="Редактировать!">
	</form>
</body>

</html>