<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Поиск</title>
	<style>
		.button {
			display: inline-block;
			border: 1px solid rgb(0, 0, 0);
			color: rgb(0, 0, 0);
			padding: 0 12px;
			margin: 5px;
			text-decoration: none;
			background: #f2f2f2;
			font-size: 12pt;
			cursor: pointer;
		}

		.button:hover {
			background: #e6e6ff;
		}
	</style>
	
</head>

<body>
	<form th:method="GET" th:action="@{/books/search}">
		<label for="search_request">Введите поисковый запрос:</label>
		<input type="text" name="search_request" id="search_request">
		<br>
		<input type="submit" value="Искать!" class="button">
	</form>
	<div th:if="${booksOptional.isPresent()}">
		<hr>
		<div th:if="${!booksOptional.get().isEmpty()}">
			
			<div th:each="book:${booksOptional.get()}">
				<a th:href="@{/books/{id} (id=${book.id})}" th:text="${book}" class="button">Книга</a>
				<br>
				<div th:if="${book.person!=null}">
					<label th:text="'Книга сейчас у: '+${book.person}">Пользователь книги</label>
				</div>
				<div th:if="${book.person==null}">
					<label>Книга свободна</label>
				</div>
				<hr>
			</div>
		</div>
		<div th:if="${booksOptional.get().isEmpty()}">
			<div>Книг не найдено</div>
			<hr>
		</div>
	</div>
	<label th:if="${!booksOptional.isPresent()}">
		<hr>
	</label>
	<form th:method="GET" th:action="@{/}">
		<input type="submit" value="Главная страница" class="button">
	</form>
</body>

</html>